absl-py==0.4.0
astor==0.7.1
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
dill==0.2.8.2
freeze==1.0.10
gast==0.2.0
grpcio==1.14.1
idna==2.7
KerasSearchCV==0.1
kiwisolver==1.0.1
lxml==4.6.3
Markdown==2.6.11
matplotlib==2.2.2
mock==2.0.0
mysql-connector-python==8.0.11
numpy==1.14.5
pandas==0.23.3
pbr==4.2.0
protobuf==3.6.1
psycopg2==2.7.5
pyparsing==2.2.0
pyreadline==2.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.10
tensorboard==1.10.0
tensorflow-gpu==1.10.0
termcolor==1.1.0
urllib3==1.24.2
Werkzeug==0.15.3
wrds==3.0.4
